altair
attrs
backcall
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
debugpy
decorator
exceptiongroup
executing
gitdb
GitPython
h11
idna
importlib-metadata
Jinja2
jsonschema
jsonschema-specifications
jupyter_core
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
nest-asyncio
numpy
outcome
packaging
pandas
parso
pickleshare
Pillow
platformdirs
prompt-toolkit
protobuf
psutil
pure-eval
pyarrow
pycparser
pydeck
Pygments
PySocks
python-dateutil
python-dotenv
pytz
pywin32
pyzmq
referencing
requests
rich
rpds-py
selenium
six
smmap
sniffio
sortedcontainers
streamlit==1.29.0
tenacity
toml
toolz
tornado
traitlets
trio
trio-websocket
typing_extensions
tzdata
tzlocal
